<p-panel header="Contact Types">
  <p-toast></p-toast>
  <p-messages [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [enableService]="false"></p-messages>
  <form (ngSubmit)="createType()" *ngIf="form" [formGroup]="form" method="post">
    <div class="cadastrar card justify-content-center">
          <span class="p-float-label">
            <input formControlName="description" id="description" pInputText type="text"/>
            <label htmlFor="description">Description: </label>
          </span>
    </div>
    <p-button (onClick)="createType()" class="submit" icon="pi pi-check" label="Salve"
              styleClass="p-button-success"></p-button>
  </form>

  <p-divider></p-divider>

  <div class="p-card-content">
    <p-fieldset [toggleable]="true" legend="Contact Types list">
      <p-table
        #dt1
        [value]="types"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align: center">
              #
            </th>
            <th style="text-align: center">
              Description
            </th>
            <th style="text-align: center">
              Actions
            </th>
          </tr>
        </ng-template>
        <ng-template let-type pTemplate="body">
          <tr>
            <td style="text-align: center">
              {{ type.id }}
            </td>
            <td style="text-align: center">
              {{ type.description }}
            </td>
            <td style="text-align: center">
              <div class="card flex justify-content-center flex-wrap gap-3 align-items-center">
                <p-button (onClick)="editType(type.id)" icon="pi pi-pencil"
                          styleClass="p-button-rounded p-button-warning p-button-outlined"></p-button>
                <p-button (onClick)="deleteType(type.id)" class="submit" icon="pi pi-trash"
                          styleClass="p-button-rounded p-button-danger p-button-outlined"></p-button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="12">No results!</td>
          </tr>
        </ng-template>
      </p-table>

    </p-fieldset>
  </div>
  <div class="card flex justify-content-center">
    <p-dialog *ngIf="type" (onHide)="closeDialogType()" [(visible)]="exibeFormEditType" [modal]="true"
              header="Editar Tipo de COntato">
      <form [formGroup]="form">
        <div class="cadastrar card flex justify-content-center" style="margin-top: 20px;">
           <span class="p-float-label">
            <input formControlName="description" id="description" pInputText type="text"/>
            <label htmlFor="description">Description</label>
          </span>
        </div>

      </form>
      <ng-template pTemplate="footer">
        <p-footer class="dialog-footer" fxLayoutAlign="center" fxLayoutGap="10px">
          <p-button (onClick)="updateType()" class="submit" label="Salve"
                    styleClass="p-button-rounded p-button-success p-button-outlined"></p-button>
          <p-button (onClick)="closeDialogType()" class="submit" label="Cancel"
                    styleClass="p-button-rounded p-button-danger p-button-outlined"></p-button>
        </p-footer>
      </ng-template>
    </p-dialog>
  </div>
  <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</p-panel>
