.spinner-container {
  position: fixed;
  background: rgb(0, 0, 0, 0.32);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1000;
}
