<p-panel class="p-panel" header="Clientes">
  <p-toast></p-toast>
  <form (ngSubmit)="createClient()" *ngIf="form" [formGroup]="form">
    <div class="cadastrar card  justify-content-center">
          <span class="p-float-label">
            <input formControlName="name" id="name" pInputText type="text"/>
            <label htmlFor="name">Name: </label>
          </span>
    </div>
    <div class="cadastrar card  justify-content-center">
          <span class="p-float-label">
            <input formControlName="age" id="age" pInputText type="text"/>
            <label htmlFor="age">Age: </label>
          </span>
    </div>
    <h3 *ngIf="contacts.controls.length > 0">Contacts</h3>
    <div class="card">
      <p-table [responsive]="true" [tableStyle]="{ 'min-width': '50rem' }" [value]="contacts.controls"
               formArrayName="contacts">
        <ng-template pTemplate="header">
          <tr *ngIf="contacts.controls.length > 0">
            <th>Description</th>
            <th>Contact Type</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template let-rowData let-rowIndex="rowIndex" pTemplate="body">
          <tr [formGroupName]="rowIndex">
            <td>
              <span class="p-float-label">
                <input formControlName="description" id="description" pInputText type="text"/>
                <label htmlFor="description"> Description: </label>
              </span>
            </td>
            <td>
              <span class="p-float-label">
                <p-dropdown [options]="types" formControlName="type_id" id="float-label"
                            optionLabel="description" optionValue="id"
                            placeholder="Selecione o tipo de contato"></p-dropdown>
                <label htmlFor="type_id">Contact Type: </label>
              </span>
            </td>
            <td>
              <p-button (click)="removeContact(rowIndex)" icon="pi pi-trash"
                        styleClass="p-button-rounded p-button-text"></p-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td style="text-align: center" colspan="12">
              <p-button (onClick)="addContacts()" styleClass="p-button-rounded p-button-text">Add Contact
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div style="padding-top: 5px">
      <p-button (onClick)="createClient()" class="submit" icon="pi pi-check" label="Salve"
                styleClass="p-button-success"></p-button>
    </div>

  </form>

  <p-divider></p-divider>

  <div class="p-card-content p-panel">
    <p-fieldset [toggleable]="true" legend="Clients">
      <p-table
        #dt1
        [paginator]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [rows]="10"
        [value]="clients"
        dataKey="id"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align: center">#</th>
            <th>Name</th>
            <th style="text-align: center">Age</th>
            <th style="text-align: center">Actions</th>
          </tr>
        </ng-template>
        <ng-template let-cliente pTemplate="body">
          <tr>
            <td style="text-align: center">{{ cliente.id }}</td>
            <td>{{ cliente.name }}</td>
            <td style="text-align: center">{{ cliente.age }}</td>
            <td style="text-align: center">
              <div class="card flex justify-content-center flex-wrap gap-3 align-items-center">
                <p-button (onClick)="showCliente(cliente.id)" class="submit" icon="pi pi-eye"
                          styleClass="p-button-rounded p-button-text"></p-button>
                <p-button (onClick)="editCliente(cliente.id)" icon="pi pi-pencil"
                          styleClass="p-button-rounded p-button-warning p-button-text"></p-button>
                <p-button (onClick)="deleteCliente(cliente.id)" class="submit" icon="pi pi-trash"
                          styleClass="p-button-rounded p-button-text p-button-danger"></p-button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="12">No results!</td>
          </tr>
        </ng-template>
      </p-table>

    </p-fieldset>
  </div>
  <div class="card flex justify-content-center">
    <p-dialog (onHide)="closeDialogCliente()" *ngIf="client" [(visible)]="exibeFormEditClient" [modal]="true"
              header="Editar Cliente ">
      <form [formGroup]="form">
        <div class="cadastrar card flex justify-content-center" style="margin-top: 20px;">
           <span class="p-float-label">
            <input formControlName="name" id="name" pInputText type="text"/>
            <label htmlFor="name">Name: </label>
          </span>
        </div>
        <div class="cadastrar card flex justify-content-center">
          <span class="p-float-label">
            <input formControlName="age" id="age" pInputText type="text"/>
            <label htmlFor="age">Age: </label>
          </span>
        </div>

        <h3>Contacts</h3>
        <div class="card">
          <p-table formArrayName="contacts" [value]="contacts.controls" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
              <tr>
                <th>Description</th>
                <th>Contact Type</th>
              </tr>
            </ng-template>
            <ng-template let-rowData let-rowIndex="rowIndex" pTemplate="body">
              <tr [formGroupName]="rowIndex">
                <td>
                  <span class="p-float-label">
                    <input formControlName="description" id="description" pInputText type="text"/>
                    <label htmlFor="description"> Description: </label>
                  </span>
                </td>
                <td>
                  <span class="p-float-label">
                    <p-dropdown [options]="types" formControlName="type_id" id="float-label"
                                optionLabel="description" optionValue="id"
                                placeholder="Selecione o tipo de contato"></p-dropdown>
                    <label htmlFor="type_id">Contact Type: </label>
                  </span>
            </ng-template>
          </p-table>
        </div>

      </form>
      <ng-template pTemplate="footer">
        <p-footer class="dialog-footer" fxLayoutAlign="center" fxLayoutGap="10px">
          <p-button (onClick)="updateCliente()" class="submit" label="Salve"
                    styleClass="p-button-rounded p-button-success p-button-outlined"></p-button>
          <p-button (onClick)="closeDialogCliente()" class="submit" label="Cancel"
                    styleClass="p-button-rounded p-button-danger p-button-outlined"></p-button>
        </p-footer>
      </ng-template>
    </p-dialog>
  </div>

  <div class="card flex justify-content-center">
    <p-dialog (onHide)="closeDialog()" *ngIf="client" [(visible)]="visible" [modal]="true" [style]="{width: '50vw'}"
              datakey="id" header="Detalhe Cliente">

      <div><span style="font-weight:bold">Name:</span> {{client.name}}</div>
      <div><span style="font-weight:bold">Age:</span> {{client.age}} anos</div>
      <h4>Contacts</h4>
      <div *ngFor="let contact of client.contacts">
        <span style="font-weight:bold">{{contact?.types?.description}}:</span> {{contact?.description}}
      </div>
    </p-dialog>
  </div>

  <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</p-panel>
