#name #age {
  justify-content: space-between;
}

.p-panel {
  width: 100%;
  border: 0 !important;
}

.cadastrar {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding-left: 10px;
  padding-top: 5px;
  margin-top: 2px;
}

.center {
  text-align: center;
}

.show {
  font-weight: bold;
}

p-button {
  font-size: 1.5rem;
}
