/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "node_modules/primeflex/primeflex.css";

body {
  margin: 0;
}

.p-megamenu {
  border: 0px !important;
  flex-direction: row-reverse;
}
